<!-- <app-news-feed></app-news-feed> -->
<!-- <app-top-gainers-losers></app-top-gainers-losers> -->
 <!-- <app-nav-bar></app-nav-bar> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->

<!-- <app-login></app-login> -->

<router-outlet></router-outlet>


<!-- <app-user-details></app-user-details> -->

<!-- <div>hii</div> -->


<!-- <h2>Chart</h2>
<div id="mychart"></div> -->



<!-- <div style="width: 600px;height: 600px;">
    <canvas id="myChart" ></canvas>
</div>  -->

<!-- <app-chart></app-chart> -->



  
