   .bar-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
    padding: 10px;
    position: relative;
    margin: 2rem auto;
  }

  h4{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(139, 139, 139);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sentiment-container{
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  
  .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    position: relative;
  }
  
  .bar {
    width: 100%;
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .bar:hover {
    opacity: 0.8;
  }
  
  .bar-recommendation {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
  }
  
  .bar-value {
    position: relative;
    top: -0px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  
  .bar-label {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  