<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="https://www.kindpng.com/picc/m/139-1391798_growth-icon-growth-png-transparent-png.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
        <span>STOCK BRIDGE</span>
      </a>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home-page']">Home</a>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="navigateToExplore()">Explore</button>
          </li>
          <li class="nav-item">
            
            <button class="nav-link" (click)="navigateToDashboard()">Dashboard</button>
          </li>
          <li class="nav-item">
           
            <button class="nav-link" (click)="navigateToLearn()">Learn</button>
          </li>
          
        </ul>
      </div>

      <div class="d-flex">
        <div class="dropdown">
          <span class="me-3">{{ username }}</span>
         
          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://tse1.mm.bing.net/th/id/OIP.hGSCbXlcOjL_9mmzerqAbQHaHa?rs=1&pid=ImgDetMain" alt="Profile" class="rounded-circle" width="30" height="30">
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item"  (click)="viewDetails()">View Details</a></li>
            <li><a class="dropdown-item"  (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>



   