<div class="container">
  <div style="width: 600px; height: 400px">
    <canvas id="chartCanvas"></canvas>
  </div>

  <div class="toggle-buttons">
    <button
      (click)="fetchChartData('1day')"
      [class.active]="activePeriod === '1day'"
    >
      1 Day
    </button>
    <button
      (click)="fetchChartData('1week')"
      [class.active]="activePeriod === '1week'"
    >
      1 Week
    </button>
    <button
      (click)="fetchChartData('1month')"
      [class.active]="activePeriod === '1month'"
    >
      1 Month
    </button>
    <button
      (click)="fetchChartData('1year')"
      [class.active]="activePeriod === '1year'"
    >
      1 Year
    </button>
  </div>
</div>
